.questions {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 96px;

  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 120px;
    max-width: 774px;
  }

  @media (min-width: 1440px) {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.header {
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 0.03em;
  font-size: var(--fs_xlarge);
  margin-bottom: 40px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: var(--fs_xxxlarge);
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 100px;
  }
}

.mainWrap {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  @media (min-width: 768px) {
    gap: 19px;
  }
}

.list {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 100px;
  }

  & li {
    border-radius: 16px;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 1px 1px 0px #00000040;
    padding: 24px 24px 24px 13px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #ff94661a)
        drop-shadow(0px 9px 20px #ffb0881f) drop-shadow(0px 16px 20px #ff94661a)
        drop-shadow(0px 37px 15px #ff94661a)
        drop-shadow(0px 57px 16px #ffb0881f);
      transform: scaleX(1.02);
    }

    @media (min-width: 768px) {
      border-radius: 18px;
      padding: 15px 28px 12px 17px;
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.numbWrap {
  margin-top: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--background);
  font-size: 26.67px;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.03em;
  border: 2.44px solid #000000;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin: 0;
    width: 54px;
    height: 54px;
    border: 3.3px solid #000000;
  }
}

.parHead {
  font-size: var(--fs_large);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @media (min-width: 768px) {
    line-height: 1.66;
  }
}

.button {
  & svg {
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover,
    &:focus {
      filter: drop-shadow(0px 10px 10px #0000004d);
      transform: scale(1.1);
    }

    @media (min-width: 768px) {
      width: 20px;
      height: 34px;
    }
  }
}

.dropBox {
  overflow: hidden;
  padding-left: 52px;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
  letter-spacing: 0.03em;

  @media (min-width: 768px) {
    font-size: var(--fs_large);
    line-height: 1;
  }
}

.dropBox.open {
  height: auto;
  transform: scaleY(1);
  margin-top: 16px;
}

.button.active {
  & svg {
    transform: rotate(90deg);
  }
}

.parWrap {
  display: flex;
  gap: 19px;
  @media (min-width: 768px) {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .item.open {
    padding: 39px 35px 47px 20px;
    position: relative;

    & .numbWrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    & .parHead {
      margin-left: 75px;
    }

    & .dropBox.open {
      margin-top: 6px;
      padding-left: 75px;
      max-width: 670px;
    }

    & .button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 36px;
    }
  }
}
