.quality {
  padding: 96px 0;
  width: var(--container);
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 50px 0;
  }

  @media (min-width: 1440px) {
    max-width: var(--desktop);
  }
}

.header {
  font-size: var(--fs_xlarge);
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    font-size: var(--fs_xxlarge);
    line-height: 1.26;
    text-align: center;
    margin-bottom: 15px;
  }
}

.text {
  font-size: var(--fs_medium);
  letter-spacing: 0.03em;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    text-align: center;
    font-size: var(--fs_large);
    line-height: 1.66;
    margin-bottom: 100px;
  }
}

.list {
  margin-bottom: 40px;

  @media (min-width: 1024px) {
    display: flex;
    gap: 16px;
    align-items: stretch;
    margin-bottom: 80px;
  }

  @media (min-width: 1024px) {
    gap: 21px;
    margin-bottom: 100px;
  }

  & li {
    max-width: var(--mobile_l);
    margin: 0 auto;
    border-radius: 24px;
    background-color: var(--background);
    margin-bottom: 16px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 24px 24px 32px;

    @media (min-width: 768px) {
      max-width: var(--mobile_xl);
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: 1024px) {
      max-width: none;
      flex-grow: 1;
      margin-bottom: 0;
      width: calc(100% / 3 - 7px);
      border-radius: 32px;
      margin: 0;
      padding: 54px 26px 49px;
      display: flex;
      flex-direction: column;
    }
  }
}

.qualityImg {
  width: 144px;
  height: 144px;
  margin: 0 auto;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    width: 204px;
    height: 204px;
    margin-bottom: 0;
  }

  @media (min-width: 1024px) {
    width: 144px;
    height: 144px;
  }

  @media (min-width: 1300px) {
    width: 204px;
    height: 204px;
  }
}

.parHead {
  font-size: var(--fs_large);
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0.02em;
  text-align: center;

  @media (min-width: 768px) {
    font-size: var(--fs_xlarge);
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_large);
  }

  @media (min-width: 1300px) {
    font-size: var(--fs_xlarge);
  }
}
