.hero {
  width: 100%;
  padding: 16px 0 60px;
  background: linear-gradient(107.3deg, #ffffff -16.22%, #fff4e4 97.41%);

  @media (min-width: 768px) {
    position: relative;
    padding-top: 140px;
  }

  @media (min-width: 1024px) {
    padding-top: 190px;
    max-width: var(--desktop);
    padding-bottom: 120px;
  }
}

.container {
  width: var(--container);
  margin: 0 auto;

  & button {
    margin: 0;
  }
}

.text {
  font-size: var(--fs_medium);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background: var(--main_color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 8px;
}

.header {
  font-size: var(--fs_xlarge);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}

.heroImg {
  width: 328px;
  height: 328px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.par {
  font-size: var(--fs_xsmall);
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  margin-bottom: 24px;
}

.priceWrap {
  width: 165px;
  height: 47px;
  background: var(--main_color);
  border-radius: 23px;
  position: relative;
  margin-bottom: 8px;

  & span {
    font-size: var(--fs_large);
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second_text_color);
  }
}

.styledPrice {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 47px;
  background-color: var(--main_text_color);
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    height: 3px;
    width: 55px;
    background: var(--main_color);
    border-radius: 2px;
  }
}

.styledPriceSecond {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
}
