.confirm {
  width: 100%;
  padding: 16px 0 60px;
  height: calc(100vh - 72px);
  background-image: url('../../img/confirm/back.webp'),
    linear-gradient(290deg, rgba(226, 118, 23, 0.6) -4.99%, #fff4e4 44.78%);

  background-position: center bottom, center;
  background-size: 775px 421px, 100% 100%;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-image: url('../../img/confirm/back.webp'),
      linear-gradient(107deg, #fff -16.22%, #fff4e4 97.41%);
    background-size: 1408px 727px, 100% 100%;
    padding: 0;
  }

  @media (min-width: 1050px) {
    height: calc(100vh - 102px);
  }

  @media (min-width: 1328px) {
    height: calc(100vh - 112px);
  }

  @media (min-width: 1408px) {
    height: calc(100vh - 136px);
  }
}

.container {
  width: var(--container);
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    position: relative;
    max-width: var(--desktop);
  }
}

.wrapper {
  border-radius: 0px 0px 30px 30px;
  background: #ffa278;
  backdrop-filter: blur(8.5px);
  padding: 3px 14px 23px;

  @media (min-width: 768px) {
    padding: 45px 5px;
  }
}

.text {
  color: var(--second_text_color);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (min-width: 768px) {
    text-align: center;
    font-size: var(--fs_mxlarge);
  }
}

.header {
  font-size: var(--fs_medium);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.54px;
  background: var(--main_color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    display: none;
  }
}
