:root {
  --font_inter: 'Inter', sans-serif;
  --font_fredoka: 'Fredoka', sans-serif;

  --background: #ffffff;
  --foreground: linear-gradient(
    295.65deg,
    rgba(226, 118, 23, 0) -5.53%,
    #fff4e4 -5.52%
  );
  --main_color: linear-gradient(106.5deg, #ff9466 -0.23%, #ffb088 100%);
  --main_text_color: #000000;
  --second_text_color: #ffffff;

  --fs_small: 14px;
  --fs_xsmall: 16px;
  --fs_medium: 18px;
  --fs_large: 24px;
  --fs_xlarge: 32px;
  --fs_mxlarge: 40px;
  --fs_xxlarge: 64px;
  --fs_xxxlarge: 72px;

  --mobile: 328px;
  --mobile_l: 360px;
  --mobile_xl: 475px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1408px;

  --container: 91.1%;
  --container_mob: 85%;

  --swiper-pagination-color: #000;
  --swiper-pagination-bullet-size: 10.8px;
  --swiper-pagination-bullet-width: 10.8px;
  --swiper-pagination-bullet-height: 5.2px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 1.8px;
  --swiper-pagination-bullet-vertical-gap: 1.8px;
  --swiper-pagination-bullet-border-radius: 6.8px;
}
