.important {
  width: var(--container);
  margin: 0 auto;
  padding: 96px 0;

  @media (min-width: 768px) {
    position: relative;
    padding-top: 140px;
  }

  @media (min-width: 1024px) {
    padding-top: 190px;
    max-width: var(--desktop);
    padding-bottom: 120px;
  }
}

.text {
  text-align: center;
  font-size: var(--fs_xsmall);
  font-weight: 600;
  line-height: 1.66;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.header {
  letter-spacing: 0.03em;
  text-align: center;
  font-size: var(--fs_xlarge);
  font-weight: 700;
  line-height: 1.26;
  margin-bottom: 16px;
}

.importantImg {
  width: 100%;
  aspect-ratio: 330/264;
  margin: 0 auto;
}

.par {
  font-size: var(--fs_xsmall);
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  margin-bottom: 24px;
}

.priceWrap {
  width: 165px;
  height: 47px;
  background-color: var(--main_color);
  border-radius: 23px;
  position: relative;
  margin-bottom: 8px;

  & span {
    font-size: var(--fs_large);
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--second_text_color);
  }
}

.styledPrice {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 47px;
  background-color: var(--main_text_color);
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    height: 3px;
    width: 55px;
    background-color: var(--main_color);
    border-radius: 2px;
  }
}

.styledPriceSecond {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
}
