.footer {
  width: 100%;
  background: var(--main_color);
  padding: 60px 0 96px;

  @media (min-width: 1408px) {
    width: 95%;
    padding: 60px 32px;
    background-color: var(--main_text_color);
    border-radius: 80px;
  }
}

.container {
  width: var(--container);
  margin: 0 auto;

  & button {
    color: #ffb088;
    background: var(--background);
    margin: 0;
  }
}

.logo_wrap {
  margin-bottom: 35px;
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }
}

.menuWrap {
  margin-bottom: 40px;
}

.menu {
  color: var(--second_text_color);
  margin-bottom: 16px;
  font-family: var(--font_inter);
  font-size: var(--fs_medium);
  font-weight: 700;
  line-height: 1.2;
}

.nav {
  & li {
    margin-bottom: 13px;

    & a {
      font-size: var(--fs_medium);
      font-weight: 500;
      line-height: 1.2;
      font-family: var(--font_inter);
      color: var(--second_text_color);
    }

    &:last-child {
      margin-bottom: 0;
    }

    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #1c16631a)
        drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
        drop-shadow(0px 37px 15px #1c166303)
        drop-shadow(0px 57px 16px #1c166300);
      transform: scale(1.05);
    }
  }
}

.policy {
  display: inline-block;
  font-family: var(--font_inter);
  font-size: var(--fs_medium);
  font-weight: 700;
  line-height: 1.2;
  color: var(--second_text_color);
  margin-bottom: 40px;
}
